<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="login" method="post">
		이름 : <input type="text" name="user_name"><br>
		<button type="submit">로그인</button>
	</form>

</body>
</html>