<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>data-test.ejs</h1>
	<a href="parameter?data1=aaa&data2=bbb">parameter</a>
	
	<!-- get방식 -->
	<form action="parameter" method="get">
		data1 : <input type="text" name="data1"/><br/>
		data2 : <input type="text" name="data2"/><br/>
		<button type="submit">확인</button>		
	</form>
	<hr/>
	<!-- post방식 -->
	<form action="parameter" method="post">
		data1 : <input type="text" name="data1"/><br/>
		data2 : <input type="text" name="data2"/><br/>
		<button type="submit">확인</button>		
	</form>
	<hr/>
	<a href="save-cookie">쿠키저장</a>
	<a href="load-cookie">쿠키로드</a>
	<hr/>
	<a href="save-session">세션저장</a>
	<a href="load-session">세션로드</a>
</body>
</html>