<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>ejs.ejs</h1>
	str : <%= str %> <br/>
	number : <%= number %> <br/>
	date : <%= date %> <br/>
	<a href="test">test</a>
</body>
</html>